@charset "ISO-8859-1";
section{
background-color: #4E6393;
margin: auto;
max-width: 700px;
padding: 20px;
}

#tProductos{
margin:auto;	
}

#cal{
margin: auto;	
}

#enviar{
margin: auto;
}

.dTable{
background-color: #0C204F;
color: white;
padding: 10;
margin: auto;
display: table;
display: fixed;
}

.dTitle{
display: table-caption;
text-align: center;
font-weight: bold;
font-size: larger;
}

.dHeading{
background-color: #0C204F;
color: white;
display: table-row;
font-weight: bold;
text-align: center;
}

.dRow{
display: table-row;
}

.dCell{
display: table-cell;
border: solid;
border-width: thin;
padding-left: 5px;
padding-right: 5px;
}

.dRow:nth-child(even){background-color: #004080}

.dRow:hover {background-color: rgb(128, 64, 64)}