@charset "ISO-8859-1";
section{
background-color: grey;
margin: auto;
max-width: 1000px;
padding: 20px;
}

#tProductos{
margin:auto;	
}

#cal{
float: right;	
}

.dTable{
padding: 10;
display: table;
display: fixed;
}

.dTitle{
display: table-caption;
text-align: center;
font-weight: bold;
 font-size: larger;
}

.dHeading{
background-color: black;
color: white;
display: table-row;
font-weight: bold;
text-align: center;
}

.dRow{
display: table-row;
}

.dCell{
display: table-cell;
border: solid;
border-width: thin;
padding-left: 5px;
padding-right: 5px;
}

.dRow:nth-child(even){background-color: #f2f2f2;}

.dRow:hover {background-color: #ddd;}